/* Fuentes



@font-face {
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: normal;
    display: swap;
    src: local('Roboto Regular'), url("fonts/roboto-regular-webfont.woff") format('woff');
}

@font-face {
    font-family: 'Roboto Bold';
    font-style: normal;
    font-weight: normal;

    src: local('Roboto Bold'), url("fonts/roboto-bold-webfont.woff") format('woff');
}

@font-face {
    font-family: 'Roboto Light';
    font-style: normal;
    font-weight: normal;
   
    src: local('Roboto Light'), url("fonts/roboto-light-webfont.woff") format('woff');
}

@font-face {
    font-family: 'Roboto Medium';
    font-style: normal;
    font-weight: normal;
  
    src: local('Roboto Medium'), url("fonts/roboto-medium-webfont.woff") format('woff');
}
*/


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');


:root {
    --fondo: #e5eff8;
    --fondo-importante: #ff7b7b;
    --gris-seccion: #ebe9ea;
    --gris-tit-seccion: #d5d5d5;
    --borde-seccion: #ccc;
    --blanco: #fff;
    --texto: #000;
    --azul-tit: #045190;
    --gris-texto: #666666;
    --azul-boton: #00589c;
    --azul-texto: #006699;
    --texto-editando: #3a9ae4;
    --pie-portada: #004179;
    --campos: #181A1C;


    
    --titulo: 1.875em;
    --subtitulo: 1.563em;
    --titulo-campo: 1.125em;
    --titulo-login: 1.875em;
    --fuente: 'Roboto', sans-serif;
    --borde-caja:1em;
    --borde-alerta:#f70707;
    --color-texto-alerta:#8f1212;
    }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    text-rendering: auto;
    text-rendering: optimizeSpeed;
    text-rendering: optimizeLegibility;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

/* PORTADA */
.contenedor-portada {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.portada {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
    height: 100vh;
    justify-content: space-around;
    flex: 1;

}

.portada__imgs {
    height: 100vh;
    position: relative;
    background-image: url("img/bg-portada.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.portada__imgs img:first-child {
    width: 250px;
    align-self: flex-start;
    padding: 20px;
    max-width: 50%;
}

.portada__imgs img:nth-child(2n) {
    width: 50%;
    margin: auto;
}
.pie-portada {
    background-color: var(--pie-portada);
    color: var(--blanco);
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.pie-portada__lista {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.pie-portada__lista  li {
    list-style: none;
}

.pie-portada p {
    flex-basis: 60%;
    padding: 0;
}

.contenedor-registro {
    /* width: 50%; */
    flex: 1;
}
.acceso {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
	margin: auto;
	max-width: 80%;
}
.acceso__titulo {
    margin-bottom: 60px;
    align-self: flex-start;
    color: var(--campos);
    font-size: var(--titulo-login);
}

.registro__grupo{
    display: flex;
    flex-direction: column;
}

.acceso .entrada {
	height: 50px;
	border: 1px solid var(--borde-seccion);
	border-radius: 13px;
	margin: 10px 0 30px;
	padding: 0 30px;
}

  .registro__grupo:nth-child(5) .grupo__btn {
	width: 300px;
	margin: 13px auto;
	max-width: 80%;
} 

.grupo__btn{
    color: var(--blanco);
    border: 0;
    background: none;
    background-color: var(--azul-boton);
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
  }


hr {
    border: 1px solid var(--gris-tit-seccion);
    margin: 40px 0;
}

.acceso__form {
    width: 100%;
}

.contenedor__principal {
	max-width: 1200px;
	margin: auto;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

/* clase muestra tipo componente*/
.tipo__clase{ 
margin-top: 1em;
padding: 0;
color:green;
font-style: italic;}
/*fin clase*/

.header{
    background-color: var(--azul-tit);
    min-height: 130px;
    width: 100%;
}

.encabezado{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    background-color: var(--azul-tit);
    padding: 10px;
     }
    
.encabezado__image{
    width: 100px; 
    }

.bloque {
    background-color: var(--gris-seccion);
    border-radius: 10px;
    padding: 1.5em;
    margin: 2em auto auto;
    width: 90%;
    color: var(--texto);
    font-family: var(--fuente);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, 
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    font-size: var(--texto);
}

.bloque__2columnas {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.bloque__2columnas .caja{
        width: 500px;
        padding: 15px;

}

.area__texto{
    border-radius: 10px;
    width: 95%;
    border: solid 1px var(--borde-seccion);

}


.caja{
    width: 100%;
}


.caja__titulo{
    background-color: var(--gris-tit-seccion);
    color: var(--azul-tit);
    font-size: var(--titulo-campo);
    padding: 5px;
    margin: 0;
    text-align: center;
    border-radius:10px 10px 0px 0px;
}

.caja__contenido {
    background-color: var(--blanco);
    border-radius: 0 0 10px 10px;
    border: solid 1px var(--borde-seccion);
    padding: var(--borde-caja);
    color: var(--texto-color);
    font-family: var(--fuente);   }

.tabla__listado{
    width: 100%;}

.tabla__listado th{
    border-bottom:solid 1px var(--gris-tit-seccion);
}

.tabla__listado td{
    border-bottom:solid 1px var(--gris-tit-seccion);
    padding: 10px;
    text-align: center;
    width: 33%;}

 .icono__btn{
       color: var(--blanco);
       border: 0;
       background: none;
       background-color: var(--azul-boton);
       border-radius: 20px;
       padding: 10px;
       width: 110px;
     }

.bloque__btn{
    color: var(--blanco);
    border: 0;
    background: none;
    background-color: var(--azul-boton);
    border-radius: 30px;
    padding: 10px;
}


.area__proyecto {
    background-color: var(--blanco);
    border-radius: 10px;
    border: solid 1px var(--borde-seccion);
    padding: 1em;
    margin: 1em auto auto;
    color: var(--texto-color);
    font-family: var(--fuente);

}

/*.textarea {
    background-color: var(--blanco);
    border-radius: 10px;
    display: inline-block;
    padding: 1em;
}*/

.alerta {
	width: 90%;
	border: 1px solid var(--borde-alerta);
	background-color: #ffd2d2;
	text-align: center;
	border-radius: 10px;
	margin: 30px auto;
	color: var(--color-texto-alerta);
}

body {
    font-family: var(--fuente);
    background-color: var(--fondo);
}

h1 {
	text-align: center;
	color: var(--azul-tit);
	font-size: var(--titulo);
	margin: 30px;
}

h2 {
    font-size: var(--subtitulo);
    font-family: var(--fuente);
    color: var(--Campos);
    font-weight: 700;
}

h3 {
    font-size: var(--titulo-campo);
    font-family: var(--fuente);
    color: var(--Campos);
    font-weight: 500;
}

h4 {
    font-weight: 700;
    color: var(--texto-color);
    color: var(--campos);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 5px;
}

.pie{
    margin-top: 2em;
    background-color: var(--azul-texto);
    width: 100%;
    }

.pie__contenido{
    max-width: 1200px;
    margin: auto;    
    padding: 2em; 
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:flex-start;
  }

.pie__creditos{ }

.pie__creditos ul{
    text-align: right;
}


.pie__legales{
    background-color: var(--azul-texto);
    color: var(--blanco);
    width: 60%;
    border-left: solid 1px var(--blanco);
    padding-left: 2em;
}



@media only screen and (max-width: 800px) {
    .pie__portada p {
        flex-basis: 100%;
        padding: 10px;
    }

}